<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Page</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">ADMIN PAGE</h1>
  <div class="row" th:each="book : ${books}">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="${book.title}"></h5>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${book.author}"></h6>
          <p class="card-text" th:text="${'Cena: ' + book.price + ' zł'}"></p>
          <p class="card-text" th:text="${'Ilość: ' + book.quantity}"></p>
          <a th:href="@{/book/update/{id}(id=${book.id})}" class="btn btn-primary">Edytuj</a>
          <form method="post" th:action="@{/book/delete}" class="d-inline">
            <input type="hidden" th:name="id" th:value="${book.id}" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <form th:action="@{/logout}" method="post" class="d-inline">
      <button type="submit" class="btn btn-secondary">Log out</button>
    </form>
    <form th:action="@{/book/add}" method="get" class="d-inline">
      <button type="submit" class="btn btn-success">Add</button>
    </form>
    <button class="btn btn-info" onclick="redirectToOrders()">ORDER ADMIN PANEL</button>
    <br>
    <br>
  </div>
</div>
<script>
  function redirectToOrders() {
    window.location.href = '/admin/orderpanel';
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
