<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h1 {
            background-color: red;
            padding: 10px;
        }
        p {
            font-size: 18px;
        }
        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>HOME PAGE</h1>
<p>LOGGED IN</p>
<div>
    <h1> main - visible </h1>
    <div th:each="book : ${books}">
        <div th:text="${book.id}"></div>
        <div th:text="${book.title}"></div>
        <div th:text="${book.author}"></div>
        <div th:text="${'Cena: ' + book.price + ' zł'}"></div>
        <div th:text="${'Ilość: ' + book.quantity}"></div>
    </div>
</div>


<form th:action="@{/logout}" method="post">
    <button type="submit">LOG OUT</button>
</form>
</body>
</html>
