<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order History</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <a class="navbar-brand" href="#">Księgarnia</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Koszyk</a>
      </li>
      <li class="nav-item" th:if="${#authentication.name == 'anonymousUser'}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" th:if="${#authentication.name != 'anonymousUser'}">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-center">Your Order History</h1>
  <div th:each="order: ${orderHistory}" class="card mb-3">
    <div class="card-header">
      <h2>Order ID: <span th:text="${order.id}"></span></h2>
    </div>
    <div class="card-body">
      <p>Date: <span th:text="${#dates.format(order.date, 'dd-MM-yyyy')}"></span></p>
      <p>Status: <span th:text="${order.status}"></span></p>
      <h3>Ordered Items:</h3>
      <div th:each="item : ${order.items}">
        <p>Tytuł: <span th:text="${item.book.title}"></span></p>
        <p>Autor: <span th:text="${item.book.author}"></span></p>
        <p>Cena: <span th:text="${item.book.price}"></span></p>
        <p>Ilość: <span th:text="${item.quantity}"></span></p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="/home" class="btn btn-primary">Back to Home</a>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
