<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rejestracja</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <a class="navbar-brand" href="#">Księgarnia</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/main_visible">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Koszyk</a>
      </li>
      <li class="nav-item" th:if="${#authentication.name == 'anonymousUser'}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" th:if="${#authentication.name != 'anonymousUser'}">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h1>Rejestracja</h1>
        </div>
        <div class="card-body">
          <form th:action="@{/register}" method="post" th:object="${user}">
            <div class="mb-3">
              <label for="username" class="form-label">Nazwa użytkownika:</label>
              <input type="text" class="form-control" id="username" th:field="*{username}" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Hasło:</label>
              <input type="password" class="form-control" id="password" th:field="*{password}" required />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
